/* .product{
    text-align: center;
    background-color: pink;
    padding: 10px;
    border: 2px solid;
}
.class-medai{
    text-align: center;
    background-color: teal;
    padding: 20px;
} */
 p.This{
    color: rgb(49, 112, 167);
 }
 p.ty{
    color: red;
 }